//Add your own editor styles here or import additional files

// Grab our child theme variables
@import "theme/child_theme_variables";
@import "assets/bootstrap5/bootstrap";                             // <------- Loads Bootstrap5
@import "theme/child_theme_blocks";
@import "theme/child_theme_typography";

// Grab a few bootstrap assets so we can use mixins, variables, etc
@import "assets/bootstrap5/functions";
@import "assets/bootstrap5/variables";
@import "assets/bootstrap5/mixins";
@import "assets/bootstrap5/reboot";
@import "assets/bootstrap5/root";
@import "assets/bootstrap5/tables";
@import "assets/bootstrap5/images";

// Set up basic typography
@import "assets/bootstrap5/type";

// Start bringing in colors and styles. 
@import "assets/understrap/theme/colors";
@import "assets/understrap/theme/blocks";



// Fixes Gutenberg's cover block color picker.
.components-circular-option-picker__option {
	border-radius: 50%;
}

// Matches the page title font weight.
.editor-post-title .editor-post-title__input{
	font-size: $h1-font-size;
	text-align: center;
	font-family: 'Oswald' !important;
	font-weight: 500;
}

// Fixes Gutenberg's row block margin in use with bootstrap row -> col classes.
.row .wp-block-column {
	margin: 0 !important;
}