#textslider {
    margin-bottom: $spacer * 3;
    @include media-breakpoint-up (md) {
        margin-top: $spacer * 2;
        margin-bottom: $spacer * 12;
    }
    @include media-breakpoint-up (xl) {
        margin-top: $spacer * 4;
        margin-bottom: $spacer * 10;
    }
}