.navbar-light .navbar-toggler {
    border-color: $dark;
    border-radius: 100px;
    padding: 0;
    width: 30px;
    height: 30px;
    border-width: 2px;
    .navbar-toggler-icon {
        width: 15px;
        height: 12px;
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 12"><rect x="0" y="0" width="15" height="2" rx="2" fill="212121"></rect><rect x="0" y="5" width="15" height="2" rx="2" fill="212121"></rect><rect x="0" y="10" width="15" height="2" rx="2" fill="212121"></rect></svg>'); 
        vertical-align: baseline;
    }
}

.dropdown-toggle {
    width: 30px;
    height: 30px;
    position: relative;
    top: 1px;
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        border-color: $dark !important;
        border-width: 2px !important;
        border-style: solid !important;
        border-radius: 100px;
        padding: 0;
        width: 30px;
        height: 30px;
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 12"><rect x="0" y="0" width="15" height="2" rx="2" fill="212121"></rect><rect x="0" y="5" width="15" height="2" rx="2" fill="212121"></rect><rect x="0" y="10" width="15" height="2" rx="2" fill="212121"></rect></svg>'); 
        background-size: 15px 12px;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &.show::after {
    }
}