body.home {
    .entry-header {
        margin-top: $spacer * -0.5;
        @include media-breakpoint-up (sm) {
            margin-top: $spacer * 1;
        }
    }

    // Kreis Grün Top
    &::before {
        content: '';
        display: block;
        background: $primary;
        border-radius: 1000px;
        position: absolute;
        width: 250px;
        height: 250px;
        top: -176px;
        right: -66px;
        z-index: -15;
        @include media-breakpoint-up(sm) {
            width: 350px;   
            height: 350px;
            top: -250px;
            right: -100px;            
        }
        @include media-breakpoint-up(md) {
            width: 450px;   
            height: 450px;
            top: -330px;
            right: -130px;            
        }
    }
    // Kreis Dark Rechts
    &::after {
        content: '';
        display: block;
        background: $dark;
        border-radius: 1000px;
        position: absolute;
        top: 0px;
        right: -230px;
        z-index: -20;
        width: 280px;
        height: 280px;
        @include media-breakpoint-up(sm) {
            width: 400px;
            height: 400px;
            right: -300px;
        }
        @include media-breakpoint-up(md) {
            top: 0px;
            right: -270px;
        }
        @include media-breakpoint-up(xl) {
            background: $dark;
            width: 600px;
            height: 600px;
            right: -400px;            
        }
    }
    
    #page-wrapper {
        position: relative;
        // Kreis Grau links
        &::before {
            content: '';
            display: block;
            background: $light;
            border-radius: 1000px;
            position: absolute;
            width: 120px;
            height: 120px;
            top: 80px;
            left: -60px;
            z-index: -20;
            @include media-breakpoint-up(sm) {
                width: 200px;
                height: 200px;
                top: 130px;
                left: -120px;
            }
            @include media-breakpoint-up(md) {
                width: 240px;
                height: 240px;
                top: 90px;
                left: -120px;
            }
            @include media-breakpoint-up(lg) {
                width: 300px;
                height: 300px;
                top: 100px;
                left: -150px;           
        }
        @include media-breakpoint-up(xl) {
            width: 400px;
            height: 400px;
            top: 100px;
            left: -200px;           
    }
        }
        // Bleistift-Bild
        &::after {
            content: '';
            display: block;
            position: absolute;
            background-image: url(../images/Bleistifte.png);
            background-repeat: no-repeat no-repeat;
            background-size: 100%;
            width: 256px;
            height: 100px;
            top: 120px;
            left: -160px;
            z-index: 10;
            @include media-breakpoint-up (sm) {
                width: 560px;
                height: 400px;
                top: 170px;
                left: -400px;
            }
            @include media-breakpoint-up (md) {
                top: 185px;
                left: -380px;
            }
            @include media-breakpoint-up (lg) {
                width: 700px;
                height: 500px;
                top: 210px;
                left: -430px;
            }
            @include media-breakpoint-up (xl) {
                width: 840px;
                height: 600px;
                top: 230px;
                left: -460px;
            }
        }
    }
}

#main-menu {
    .menu-item {
        font-size: $font-size-sm;
    }
    .nav-link {
        @extend .text-uppercase;
    }
}
