// Fixes Gutenberg's row block margin in use with bootstrap row -> col classes.
.cmp-header-call-to-action {
	.wp-block-column{
		margin-bottom: $spacer;
	}
	.wp-block-column:not(:first-child) {
		@extend .border-start;
	}
	@include media-breakpoint-down(md) {
		.wp-block-column:not(:first-child) {
			border: none !important;
		}
	}
	@media screen and (min-width: 600px) and (max-width: 782px) {
		.wp-block-column:not(:only-child) {
			flex-basis: auto !important;
		}
	}

}