// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


// Color system
//
// Brand colors
$brand-green: #D2DC00;
$brand-turqoise: #2688A5;
$brand-light: #E0DED8;
$brand-dark: #212121;
$brand-white: #FFFFFF;
$brand-black: #000000;

// Once we've changed the value, we'll also make it the primary brand color.
$primary: $brand-green; // $blue !default;
$secondary: $brand-turqoise; // $gray-600 !default;
$light:              $brand-light;
$dark:               $brand-dark;

// Body
//
// Settings for the `<body>` element.

$body-color:                    $dark;


// Links
//
// Style anchor elements.

$link-color:                    $body-color; // theme-color("primary") !default;
$link-decoration:               underline; // none !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 782px,
  lg: 992px,
  xl: 1680px
);

// Typography

$enable-responsive-font-sizes:  true;
$font-family-sans-serif:        "Lato", "Helvetica Neue", Arial, sans-serif;
$font-weight-bolder:            900;
$headings-font-weight:          900;


// Navbar
$navbar-light-color:            $dark;
$navbar-nav-link-padding-x:     1rem;