.text-uppercase {
    letter-spacing: 0.05em;
}

// Seitentitel
.entry-title {
    text-align: center;
    font-family: 'Oswald', 'Helvetica Neue', Arial, sans-serif;
    @include font-size($font-size-base * 2.5);
    line-height: $line-height-base;
    font-weight: 500;
    padding-top: $spacer * 1;
    text-shadow: 1px 1px 2px rgba($dark, .3);
    @include media-breakpoint-up(sm) {
        @include font-size($font-size-base * 3.5);
    }
}