.wrapper-footer {
    margin-top: $spacer * 10;
    position: relative;
    &::after {
        content: '';
        display: block;
        background: $primary;
        width: 180px;
        height: 180px;
        border-radius: 1000px;
        position: absolute;
        top: -45px;
        right: -60px;
        @include media-breakpoint-up(md) {
            width: 250px;
            height: 250px;
            top: -60px;
            right: -80px;
        }
        @include media-breakpoint-up(lg) {
            width: 380px;
            height: 380px;
            top: -100px;
            right: -130px;
        }

        @include media-breakpoint-up(xl) {
            width: 650px;
            height: 650px;
            top: -150px;
            right: -200px;            
        }
    }
}
.site-footer {
    padding-top: $spacer * 5;
    .logo {
        margin-bottom: $spacer * 5;
    }
    a {
        text-decoration: none;
        &:hover {
            color: $primary !important;
            .icon {
                fill: $primary;
            }
        }
        .textlink {
            padding-bottom: 2px;
            border-bottom: 1px solid $primary;
        }
    }
    .list-address {
        margin-bottom: $spacer * 5;
        li {
            margin-bottom: $spacer * 1.5 !important;
            address {
                margin: 0;
            }
            small {
                position: relative;
                left: 16px;
            }
        }
    }
    .social-media {
        margin-bottom: $spacer * 5;
        li {
           margin-bottom: $spacer * 2;
           svg {
               vertical-align: -.225em;
           }
        }
    }
    .copyright {
        margin-top: $spacer * 2;
        margin-bottom: $spacer * 2;
    }
}